<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="GroupM.Content.Domain" />
    <assembly name="GroupM.Content.Entities" />
    <assembly name="GroupM.Content.Persistence" />

    <alias alias="INegativeWordsRepository" type="GroupM.Content.Persistence.Interfaces.INegativeWordsRepository, GroupM.Content.Persistence" />
    <alias alias="IUserTextsRepository" type="GroupM.Content.Persistence.Interfaces.IUserTextsRepository, GroupM.Content.Persistence" />
    <alias alias="ITextAnalysisService" type="GroupM.Content.Domain.Interfaces.ITextAnalysisService, GroupM.Content.Domain" />    

    <container>
      <register type="INegativeWordsRepository" mapTo="GroupM.Content.Persistence.StaticNegativeWordsRepository, GroupM.Content.Persistence" />
      <register type="IUserTextsRepository" mapTo="GroupM.Content.Persistence.StaticUserTextsRepository, GroupM.Content.Persistence" />
      <register type="ITextAnalysisService" mapTo="GroupM.Content.Domain.RegexBasedTextAnalysisService, GroupM.Content.Domain" />
    </container>

  </unity>
</configuration>